 <!-- " .erb" = embedded ruby -->

 <!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <title></title>
   </head>
   <body>
     <h1> <%= @title %> </h1>
   </body>
 </htm>

<!-- <%= alligator tags allow you to write in ruby code %> -->
