
p {
  background-color: antiquewhite;
}

.img-right {
    float: right;
    padding-left: 30px;
    padding-bottom: 30px;
}

.img-left {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}
